.article-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 6px 5px #e9e8e8;
    font-size: 13px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}
.article-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #666666;
}
.article-date {
    position: absolute;
    color: #999999;
    right: 10px;
    top: 0;
}
.content-markdown {
    font-size: 18px;
}
.article-box {
    background-color: #ffffff;
    box-shadow: 0px 6px 5px #e9e8e8;
    padding: 20px;
    margin-top: 20px;
}
.addArticle {
    margin-top: 20px;
}
.submitArticle {
    display: block;
    margin: 20px auto;
    width: 60%;
    border: none;
    background-color: #ff6e37;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px;
}
.addArticle .for-container .for-editor .for-editor-edit .for-editor-content {
    height: auto;
}
.type-banner {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding: 10px 0;
}
.type-banner .ant-radio-group {
    margin-left: 20px;
}
.type-banner .ant-radio-button-wrapper {
    border: none;
}
.type-banner .ant-radio-button-wrapper:first-child {
    border: none;
}
.type-banner .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: #ffffff;
}
.type-banner .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    /*background-color: #ff6e37;*/
    /*border-radius: 5px;*/
    color: #ff6e37;
}

.share-modal {
  width: 200px;
  height: 200px;
}

.ant-btn  .share{
  background: #ccc5c5
}


.text {
  margin-right: 3px;
}

.anticon svg {
  margin-bottom: 5px
}

.comment-input button {
  width: 105px;
}

.ant-modal-header {
  border-bottom: 0px solid #e8e8e8;
}

.ant-modal-footer {
  display: none;
}


.background-modal {
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 5;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.qrcode-modal {
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  z-index:10;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.share-modal {
  position: absolute;
  top: 137px;
  left: 50%;
  transform: translate(-50%, 0);

}

.close-modal {
  position: absolute;
  left: 555px;
  bottom: 360px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin: 10px 10px;
}

.title-modal {
  position: absolute;
  top: 44px;
  left: 257px;
  width: 86px;
	height: 22px;
	font-family: MicrosoftYaHei;
	font-size: 21px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 13px;
	letter-spacing: 0px;
	color: #000000;
}

.detail-modal {
  position: absolute;
  top: 81px;
  left: 92px;
  width: 417px;
  height: 17px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 13px;
  letter-spacing: 0px;
  color: #666666;
}

.share {
  width: 16px;
  height: 16px;
}

.collect {
  width: 25px;
  height: 32px;
}
