.header {
    width: 100%;
    height: auto;
    background-color: #ffafa9;
    padding: 15px 0;
}

.user-info .ant-descriptions-row > th, .header .ant-descriptions-row > td {
    padding-bottom: 5px;
}
.user-info .ant-descriptions-title {
    margin-bottom: 10px;
}
.head-container img {
    width: 110px;
    height: 110px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    position: absolute;
}
.profile-tabs .ant-tabs {
    background-color: #f8fbfd;
}
.profile-tabs > .ant-tabs-bar > .ant-tabs-nav-container > .ant-tabs-nav-wrap > .ant-tabs-nav-scroll {
    text-align: center;
    background-color: #ffffff;
    padding-top: 50px;
    font-size: 15px;
}
.profile-tabs > .ant-tabs-bar > .ant-tabs-nav-container > .ant-tabs-nav-wrap > .ant-tabs-nav-scroll > .ant-tabs-nav .ant-tabs-tab {
    margin: 0 100px 0 0;
}
.profile-tabs > .ant-tabs-bar > .ant-tabs-nav-container > .ant-tabs-nav-wrap > .ant-tabs-nav-scroll > .ant-tabs-nav .ant-tabs-tab-active {
    color: #333333;
}
.profile-tabs > .ant-tabs-bar > .ant-tabs-nav-container > .ant-tabs-nav-wrap > .ant-tabs-nav-scroll > .ant-tabs-nav > .ant-tabs-ink-bar {
    background-color: #333333;
}



.order-tab .ant-tabs-nav-container {
    background-color: #f1f1f1;
    padding-left: 20px;
    border: 1px solid #e7e7e7;
}
.order-tab .ant-tabs-nav {
    color: #333333;
    font-weight: 500;
}
.order-tab .ant-tabs-nav .ant-tabs-tab-active {
    color: #ff6e37;
}
.order-tab .ant-tabs-ink-bar {
    background: none;
}


.invite-code {
    margin: 40px 0;
    color: #333333;
    font-weight: 450;
}
.invite-code div {
    margin: 20px 0;
}


.head-wrapper {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 15px;
}

.userinfo-wrapper {
  margin-left: 130px;
}

.follow-container {
  width: 80px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  transform: translate(-50%, 50%);
  background-color: #ff6e37;
  border-radius: 4px;
  left: 50%;
  z-index: 3;
  text-align: center;
}

.follow {
  line-height: 30px;
	width: 35px;
	height: 14px;
	font-family: MicrosoftYaHei;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
  cursor: pointer;
}

.userinfo-wrapper  {
  display: inline-block;
  padding-left: 9px;
}

.followers-wrapper {
  display: inline-block;
  padding-left: 9px;
}

.fans-wrapper {
  display: inline-block;
  padding-right: 9px;
  border-right: 1px solid #888888;
}


.fans {
	width: 46px;
	height: 14px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 16px;
	letter-spacing: 0px;
	color: #000000;
}

.followers {
  width: 46px;
  height: 14px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #000000;
}

.fans-number {
	font-family: MicrosoftYaHei;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #0473fc;
}

.followers-number {
  font-family: MicrosoftYaHei;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #0473fc;
}


.collect-number {
  display: inline-block;
  width: 115px;
  font-family: MicrosoftYaHei;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0px;
  color: #000000;
  padding: 25px 0;
}

.search {
  display: inline-block;
  padding: 7px 0;
  position: absolute;
  right: 0px;
}

.cancel-button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #a7a7a7;
  position: absolute;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  bottom: 0px;
  transform: translate(-50%, 50%);
  left: 50%;
  z-index: 3;
  text-align: center;
  background-color: #dee2e6;
}

.cancel-follow {
  width: 37px;
  height: 15px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 19px;
  letter-spacing: 0px;
  color: #888888;
}
